
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a routerLink="/shop/{{products.id}}"> <i class="fa fa-eye"></i></a></li>
                    <li><a routerLink="/shop/{{products.id}}"><i class="fa fa-star"></i></a></li>
                    <li><a routerLink="/shop/{{products.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <img routerLink="/shop/{{products.id}}" src="{{products.productPicture}}" alt="">
        </div>
        <div class="down-content">
            <h4>{{products.name}}</h4>
            <span>{{products.price}}</span>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
        </div>
    </div>